
.firstDiv {
    color: white;
    padding: auto;
    margin: auto;
    width: 50%;
}

button {
    background-color: black;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
}
